Source: @unmangled_name
Section: unknown
Priority: optional
Maintainer: @Vendor
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 12),
Standards-Version: 4.6.1
Homepage: @Url

Package: @Name
Architecture: @BuildArch
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: @Summary
